@import "../../variables";
@import "../../vendor";

.interactive-arrow {
    position: relative;
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
    background-image: url("/assets/images/green-arrow-right.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 20px;
    width: 33px;

    &::before {
        content: "";
        display: block;
        height: 1px;
        width: 15px;
        background-color: $primary;
        position: absolute;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);
        transition: $transition-base;
    }

    &::after {
        content: '';
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            right: -8px;
            top: 50%;
            opacity: 0;
            -webkit-transform: scale(0) translateY(-50%);
            -ms-transform: scale(0) translateY(-50%);
            -o-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
            transform-origin: 0% 0%;
            border: 2px solid $primary;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: transform .3s, opacity .3s;
            -moz-transition: transform .3s, opacity .3s;
            -o-transition: transform .3s, opacity .3s;
            -ms-transition: transform .3s, opacity .3s;
            transition: transform .3s, opacity .3s;
            will-change: transform, opacity;
    }
}